@import "mixins";

.work-section {
  @include section-container;
  color: $color-on-base;
  background-color: $color-base-300;

  &__title {
    @include section-title;
  }

  &__legend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    @include sm-screen {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__projects {
    display: grid;
    width: 100%;
    row-gap: 2rem;
    margin-top: 2rem;

    @include md-screen {
      column-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
    }

    @include lg-screen {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include md-screen {
        margin-top: 4rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 0.75rem;
      }

      &-container {
        padding: 0;
        width: 100%;
      }

      &:first-of-type {
        margin-top: 0;
        align-items: flex-start;
        border-bottom: 2px solid $color-base;
        padding-bottom: $padding-standard;
        @include md-screen {
          border-bottom: transparent;
          border-right: 2px solid $color-base;
          padding-bottom: 0;
        }
      }

      &:last-of-type {
        margin-top: 0;
        align-items: flex-end;
        border-top: 2px solid $color-base;
        padding-top: $padding-standard;
        @include md-screen {
          border-top: transparent;
          border-left: 2px solid $color-base;
          padding-top: 0;
        }
      }
    }
  }

  app-project-item {
    display: block;
    width: 100%;
  }
}
