@import "tokens";
@import "mixins";

.angular-section {
  @include section-container;
  color: $color-on-base;

  &__title {
    @include section-title;
  }

  p a {
    padding: 0.25rem 0.5rem;
    line-height: 1.75;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    margin: 1rem 0;

    &:focus {
      outline-offset: 0.1rem;
    }
  }

  &__info {
    margin-bottom: 1rem;

    a {
      color: $color-on-primary;
      background-color: $color-primary;
    }
  }

  &__surprise {
    a {
      color: $color-on-secondary;
      background-color: $color-secondary;

      &:focus {
        outline-color: $color-secondary;
      }
    }
  }
}

@include sm-screen {
  .angular-section {
    p a {
      padding: 0.5rem 0.75rem;
    }

    &__info,
    &__surprise {
      font-size: 1.5rem;
    }
  }
}
